.list_books {
    padding-top:2%;
    margin-left:2%;
    margin-right:2%;
}

h5 {
    padding-left: 5%;
    font-size:18px;
}

body {
    background-color: hsla(228, 67%, 89%, 1);
}

.list-group-item {
    background-color: hsla(228, 67%, 85%, 1)
}

.cat {
    height:200px;
    position: relative;
    text-align:center;
    margin-top:10%;
}

.welcome {
    text-align: center;
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}